{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Review - {{ post.postname }}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
<header>
    <div class="navbar navbar-dark bg-dark shadow-sm mb-3">
        <div class="container d-flex justify-content-between">
            <a href="/review/" class="navbar-brand d-flex align-items-center">
                <strong>게시판</strong>
            </a>
        </div>
    </div>
</header>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ post.postname }}</h5> 
            <h7 class="card-title">{{ post.writer }}</h7>
            <p class="card-text"><small class="text-muted">{{ post.date | date:"Y-m-d h:i" }} - ({{ post.counter }})</small></p>
            <p class="card-text">{{ post.contents }}</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto">
            <a class="btn btn-info" href="/review/{{ post.pk }}/edit" role="button">수정</a>
        </div>
        <div class="col-auto">
            <form id="delete-form" action="/review/{{ post.pk }}/delete" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button id="delete-btn" type="submit" class="btn btn-danger">삭제</button>
            </form>
        </div>
    </div>
    <br>
    <br>
    <div>
        <h5>{{ post.answer_set.count }}개의 답변이 있습니다.</h5>
        <br>
        {% for answer in post.answer_set.all %}
        {{answer.contents}} - {{answer.date}} 
        <br>
        {% endfor %}
        <br><br>
        <form method="POST">
          {% csrf_token %}
          <p><textarea name="contents" id="contents" placeholder=" Comment..." rows="10" cols="100"></textarea></p>
          <p><input class="btn btn-primary" type="submit" value="댓글 등록하기"></p>
        </form>
    </div>
</div>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>