{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Review - {{ post.postname }}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
           <img src="{% static 'favicon.ico' %}" alt="" width="24" height="24" class="d-inline-block align-text-top" style="margin-right:10px;"> 
          <a class="navbar-brand" href="{% url 'mainapp:index' %}">여긴 어때</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'aboutusapp:index' %}">About Us</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link active" aria-current="page" href="/main/">Travel</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link active" aria-current="page" href="/review/">Review</a>
               </li>
           </ul>
            <div class="col" style="text-align: right;">
              {% if user.is_authenticated %}
              <a class="welcome" >{{ user.username }}님 환영합니다!</a>
              <a class="navbar-login" href="{% url 'logioapp:logout' %}">logout</a>
              {% else %}
              <a class="navbar-login" href="{% url 'logioapp:login' %}">login</a>
              {% endif %}
            </div>
           </div>
        </div>
      </nav>
<br>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ post.postname }}</h5> 
            <h7 class="card-title">{{ post.writer }}</h7>
            <p class="card-text"><small class="text-muted">{{ post.date | date:"Y-m-d h:i" }} - ({{ post.counter }})</small></p>
            <p class="card-text">{{ post.contents }}</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto">
            <a class="btn btn-info" href="/review/{{ post.pk }}/edit" role="button">수정</a>
        </div>
        <div class="col-auto">
            <form id="delete-form" action="/review/{{ post.pk }}/delete" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button id="delete-btn" type="submit" class="btn btn-danger">삭제</button>
            </form>
        </div>
    </div>
    <br>
    <br>
    <div>
        <h5>{{ post.answer_set.count }}개의 답변이 있습니다.</h5>
        <br>
        {% for answer in post.answer_set.all %}
        {{answer.contents}} - {{answer.date}} 
        <br>
        {% endfor %}
        <br><br>
        <form method="POST">
          {% csrf_token %}
          <p><textarea name="contents" id="contents" placeholder=" Comment..." rows="10" cols="100"></textarea></p>
          <p><input class="btn btn-primary" type="submit" value="댓글 등록하기"></p>
        </form>
    </div>
</div>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>