{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>여긴 어때</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <div class="container-fluid">
      <img src="{% static 'favicon.ico' %}" alt="" width="24" height="24" class="d-inline-block align-text-top" style="margin-right:10px;"> 
     <a class="navbar-brand" href="{% url 'mainapp:index' %}">여긴 어때</a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li class="nav-item">
           <a class="nav-link active" aria-current="page" href="/#page-top/">About Us</a>
         </li>
         <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/main/">Travel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/review/">Review</a>
          </li>
      </ul>
      </div>
   </div>
 </nav>
<div class="container my-3" style="width: 380px;">
   <div class="row">
        <div class="col-4" style="margin-left: 120px; margin-right: 100px;">
            <h2><center><strong>로그인</strong></center></h2>
        </div>
    </div>
    <br>
    <form method="post" class="post-form" action="{% url 'logioapp:login' %}">
        {% csrf_token %}
        {% include "logioapp/form_errors.html" %}
        <div class="form-group">
            <label for="username">사용자ID</label>
            <input type="text" placeholder='ID를 입력하세요' style="width:350px;" class="form-control" name="username" id="username"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" placeholder='비밀번호를 입력하세요' style="width:350px;" class="form-control" name="password" id="password"
                   value="{{ form.password.value|default_if_none:'' }}">
        </div>
        <br>
        <br>
        <div style="text-align:center">
        <button type="submit" class="btn btn-primary" style=" display: inline-block;">로그인</button>
        <button type="button" class="btn btn-info" style=" display: inline-block;" onclick="location.href='/logioapp/signup/';"> 회원가입 </button>
        </div>
    </form>
</div>
</body>
</html>