{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>여긴 어때</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <div class="container-fluid">
      <img src="{% static 'favicon.ico' %}" alt="" width="24" height="24" class="d-inline-block align-text-top" style="margin-right:10px;"> 
     <a class="navbar-brand" href="{% url 'mainapp:index' %}">여긴 어때</a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li class="nav-item">
           <a class="nav-link active" aria-current="page" href="/#page-top/">About Us</a>
         </li>
         <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/main/">Travel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/review/">Review</a>
          </li>
      </ul>
       <div class="col" style="text-align: right;">
         {% if user.is_authenticated %}
         <a class="welcome" >{{ user.username }}님 환영합니다!</a>
         <a class="navbar-login" href="{% url 'logioapp:logout' %}">logout</a>
         {% else %}
         <a class="navbar-login" href="{% url 'logioapp:login' %}">login</a>
         {% endif %}
       </div>
      </div>
   </div>
 </nav>
<div class="container my-3" style='width: 430px;'>
    <div class="row">
        <div class="col-4" style="margin-left: 100px; margin-right: 100px;">
            <h2><strong>계정생성</strong></h2>
        </div>
    </div>
    <br>
   <center> 
    <a class="navbar-main" href="{% url 'mainapp:index' %}">여긴 어때</a>
    <a class="navbar-login" href="{% url 'logioapp:login' %}">login</a>
    <br>
        <a class="second-line" href="{% url 'aboutusapp:index' %}">About Us</a>
        <a class="second-line"> | </a>
        <a class="second-line" href="/main/">Travel</a>
        <a class="second-line"> | </a>
        <a class="second-line" href="/review/">Review</a>
      </center>
<div class="container my-3">
    <form method="post" class="post-form" action="{% url 'logioapp:signup' %}">
        {% csrf_token %}
        {% include "logioapp/form_errors.html" %}
        <div class="form-group">
            <label for="realname">이름</label>
            <input type="text" placeholder='사용할 이름을 입력하세요' style="width:300px;" class="form-control" name="realname" id="realname"
                   value="{{ form.realname.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="username">아이디</label>
            <input type="text" placeholder='아이디를 입력하세요' style="width:300px;" class="form-control" name="username" id="username"
                   value="{{ form.id.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="password1">비밀번호</label>
            <input type="password" placeholder='비밀번호를 입력하세요' style="width:300px;" class="form-control" name="password1" id="password1"
                   value="{{ form.password1.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="password2">비밀번호 확인</label>
            <input type="password" placeholder='비밀번호 재확인...' style="width:300px;" class="form-control" name="password2" id="password2"
                   value="{{ form.password2.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="password2">성별</label>
            <br>
        <select name="gender">
            <option value="">--- 선택하세요 ---</option>
            <option value="학생">남성</option>
            <option value="회사원">여성</option>
            <option value="기타">기타</option>
        </select>
        <br>
        <br>
        <br>
         <button type="submit" class="btn btn-info" style=" display: inline-block;">회원가입 완료</button>
    </form>
</div>
</body>
</html>